.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.group-item input {
  margin-right: 10px;
}

.group-item button {
  margin-left: 10px;
}

#group-list {
  margin-bottom: 20px;
}
